{% extends 'base.html' %}
{% block content %}

<h1>Contact Us</h1>
<form class="needs-validation" novalidate method="POST">
  {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="col-md-4 mb-3">
        {{ form.first_name(class="form-control",placeholder="First Name")}}
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
          {{ form.last_name(class="form-control",placeholder="Last Name")}}
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="input-group">
            {{ form.email(class="form-control",placeholder="Email Address")}}
          <div class="invalid-tooltip">
            Please choose a unique and valid username.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">Comment</label>
        {{ form.comment(class="form-control",placeholder="Leave your comment here!")}}
        <div class="invalid-tooltip">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip04">Phone Number</label>
        {{ form.phone(class="form-control",placeholder="(---) --- ----")}}
        <div class="invalid-tooltip">
          Please provide a valid state.
        </div>
      </div>

      </div>
    </div>
    {{ form.submit(class="btn btn-primary")}}
  </form>
{% endblock content %}